
html, body {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

@font-face {
  font-family: VT323;
  src: url(./assets/font/PixelifySans.ttf);
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-sizing: border-box;
  font-family: VT323;
}
